*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', sans-serif;
}

main{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
}

main .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/waveBlue.png);
    background-size: 1000px 100px;

}

main .wave.wave1{
    animation: animate1 14s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

main .wave.wave2{
    animation: animate2 20s linear infinite;
    z-index: 999;
    opacity: 0.8;
    animation-delay: -5s;
    bottom: 10px;
}

main .wave.wave3{
    animation: animate 18s linear infinite;
    z-index: 995;
    opacity: 0.6;
    animation-delay: -10s;
    bottom: 10px;
}

main .wave.wave4{
    animation: animate2 20s linear infinite;
    z-index: 990;
    opacity: 0.5;
    animation-delay: -15s;
    bottom: 10px;
}

@keyframes animate1{
    0%{
        background-position-x: 0 ;
    }
    100%{
        background-position-x: 1000px ;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0 ;
    }
    100%{
        background-position-x: 1000px ;
    }
}

.bodyall{
    display: flex;
    align-items: center;
    justify-content: center;
}

main a{
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #005c98;
    border: 1px solid transparent;
    padding: 12px 30px ;
    margin-top: 10px;
    margin-left: 10rem;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .55s ease;
}

main a:hover{
    color: #005c98;
    background: transparent;
    border: 1px solid #005c98;
    transform: translateX(8px);
}


section h1{
    color: #005c98;
    font-size: 50px;
}

section p{
    color: #005c98;
    font-size: medium;
}

.container{
    padding: 12px 30px ;
    margin-left: 12rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.container h1{
    text-align: center;
}

.container .imag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative ;
    flex-wrap: wrap;
    gap: 20px 15px;
    padding: 20px 15px;
}


.container-card .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    max-width: 100%;
    height: 200px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container-card .card img{
    width: 100px;
}

.container-card .card .js{
    width: 200px;
}

